{% extends "base.html" %}


<!-- about.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Nuestra historia</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
{% block contenido %}
<body>
    
    <h1 style="color: beige;">Fundadora</h1>
    <br>
    <img src='/media/media/Fundadora.jpg' alt="Florencia Ventura" style="max-width: 400px; max-height: 300px;" />
    <br><br>
    <p style="color: beige;">Bienvenid@s! <br>Mi nombre es Florencia Ventura y tengo 24 años. <br>Actualmente trabajo en el Ministerio de Economía
        desarrollandome en el campo de análisis de datos, y estudio Ciencias de la Computación en la Universidad de 
        Buenos Aires. <br> Asímismo, desde el año 2022 me adentré en el mundo de la programación realizando cursos en
        distintas instituciones.
        
</body>
</html>
{% endblock contenido %} 