{% extends "base.html" %}

{% block contenido %}


<div>

    <h1>{{ posteo.titulo }}</h1>
    <p>{{ posteo.bajada }}</p>
    <p>Creado por: {{ posteo.creador }}</p>
    <p>Fecha de publicación: {{ posteo.fecha_publicacion }}</p>
    <img src="{{ posteo.imagen.url }}" alt="{{ posteo.imagen.alt }}" style="max-width: 700px; max-height: 300px;" />
    <p>{{ posteo.texto| safe  }}</p>
    

    

    <br><br>
    <a href="{% url 'lista_posteos' %}">Volver lista</a>
    <br><br>
</div>
{% endblock contenido %}
